*{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: space-around;
    background-color: gray;
   
}
.container{
    width: 60vw;
height: 70vh;
background-color: #fff;
border: 8px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 5vh;
    border-radius: 20px;
}
.bot_estampas{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
 
    padding: 10px;
   
}
.bot_estampas p {
    width: 80%;
    height: 10vh;
  
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
 
}
.bot_estampas img{
    height: 10vh;
    margin-right: 20px;
}
.bot_estampas a{
    text-decoration: none;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}
.modelos{
width: 50%;
height: auto;
background-color: #ccc;
background-image: url('/img/modelo_F.jpg');
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 15px;
}

.modelos h1{ 
    font-family:'Courier New', Courier, monospace;
    color: ;
    }

.estampa{
    height: 35%;
    width: 30%;
    
    margin-top: 220px;
    margin-left: 40px;
  mix-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    
  
}

.botoes_sexo{
    background-color: #1a1919;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
}
.botoes_sexo p,a{
   text-decoration: none;
   font-family: 'Courier New', Courier, monospace;
   color: #ccc;
}

@keyframes fade{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}