*{
    margin: 0;
    padding: 0;
}

#painel{
    display:flex;
    width: 90%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 212, 206);
    justify-content: space-between;
    padding: 20px;

}

#caixa{
    background: rgb(224,228,225);
    background: radial-gradient(circle, rgba(224,228,225,1) 0%, rgba(172,172,173,1) 50%, rgba(166,172,173,1) 100%);
    width: 60%;
    height: 90vh;
    border-radius: 15px;
 box-shadow: 5px 3px 7px #000;
    display: flex;
    justify-content: center;
}

.botoes{
    display:flex;
    width: 35%;
   
    flex-direction: column;
    justify-content: space-around;
}

.bt{
    width: 97%;
    height: 50px;
 
    border-radius: 5px;
    color:#fff;
    border:none;
    box-shadow: #000 3px 2px 5px;
    margin-left: auto;
    margin-right: auto;
}

.bt:hover{
    background-color: #000;
    color:#fff;
    width: 100%;
    height: 53px;
    cursor:pointer;

}

.bt:active{
    background-color: #000;
    color:#fff;
    width: 80%;
    height: 45px;
    cursor:pointer;

}

#camiseta  {
    fill: orange ;
    width: 90%;
    height: 90%;
}

#A{
    background-color: #f29304;
}
#B{
    background-color: #545556;
}
#C{
    background-color: #881607;
}

#estampa {
    width: 45vw;
    height: 45vh;
    margin-top: 25vh;

  position: fixed;
  
  
}

@keyframes aparece {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}